chatbot.json
{
  "name": "chatbot",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "👋 Halo!\n\nSelamat datang di chatbot kursus NFA 🤖  \nSaya siap bantu kamu cari info pelatihan.\n\nSilakan tanya apa saja ya 😊",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "57634067-6f4c-4ff1-a808-5ff3b73a6e7b",
      "name": "When chat message received",
      "webhookId": "dd1edba4-6c70-441f-b93e-84fd45bfbcff"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Kamu adalah chatbot AI yang membantu menjawab pertanyaan tentang pelatihan/kursus dari NFA.\n\nGunakan data dari Google Sheets.\n\nKolom:\n- Jenis Program Pelatihan\n- Nama Pelatihan/Kursus di NFA\n- Deskripsi Pelatihan/Kursus di NFA\n- Harga/Biaya\n\nJawaban:\n- Tampilkan nama kursus, jenis program, dan harga\n- Jika tidak ada, jawab tidak tersedia\n- Gunakan bahasa Indonesia yang jelas dan rapi"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "38b8ee70-dbf9-4b87-9cff-0a0e434b881d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "b987cc1c-962f-4856-98bc-9b06e4296f24",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Jl3a673u1A5NN4VL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "a573b9d9-e6ef-4577-865f-6ac82f69279e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jGupBkkhJcyoq00V4aEtjC9nz4PzT9UHj0GUVw641xA",
          "mode": "list",
          "cachedResultName": "n8n 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGupBkkhJcyoq00V4aEtjC9nz4PzT9UHj0GUVw641xA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGupBkkhJcyoq00V4aEtjC9nz4PzT9UHj0GUVw641xA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        368,
        208
      ],
      "id": "d1ee6a22-40cf-44d5-b685-80fcfe2bfe57",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eCQPYuYGphOCSghV",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "da396ef4-2423-4642-b5fe-d8ce2bc08668",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "09d7f27ef33aaa596b96856ba849b4e97da2ac1f510c0e54b31c7676f9f9e70c"
  },
  "id": "TpOz7VZKDdmKRZuC",
  "tags": []
}